{% extends "master.twig" %}

    {% block title %}Create News{% endblock %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Create News</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path_for('news') }}" class="btn btn-sm btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>

    <div class="col-md-8 order-md-1 pb-lg-4">
        <form method="post" action="{{ path_for('news.save') }}">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="title">Title</label>
                    <input name="title" type="text" class="form-control" id="title" required>
                </div>
            </div>

            <div class="mb-12">
                <label for="body">Body</label>
                <textarea name="body" class="form-control" id="body" style="height: 200px; resize: none;" required></textarea>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save Changes</button>
        </form>
    </div>

{% endblock %}