{% extends "master.twig" %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ news.title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path_for('news') }}" class="btn btn-sm btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>

    <main role="main" class="inner cover">
        <p class="lead">{{ news.body }}</p>
        <p class="lead">
            <a href="{{ path_for('comments', {id:news.id}) }}" class="btn btn-lg btn-secondary">Browse comments</a>
        </p>
    </main>

{% endblock %}