{% extends "master.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="mt-5">PHP OTM Exam</h1>
    <ul class="lead">
        <li>Using Slim 3</li>
    </ul>
{% endblock %}