<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/assets/css/dashboard.css"/>
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">PHP Exam</a>
</nav>

<div id="container-fluid">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('dashboard') }}">
                        <span data-feather="home"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('news') }}">
                        <span data-feather="file-text"></span>
                        News
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        {% for key, alert in alerts %}
            <div class="alert alert-{{ key }}" role="alert">
                {% for message in alert %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </main>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="/assets/js/feather.min.js"></script>
<script>
    feather.replace()
</script>
</body>
</html>