{% extends "master.twig" %}

{% block title %}
    Comments
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Comments</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="{{ path_for('news.view', {id:news.id}) }}" class="btn btn-sm btn-outline-secondary">Back to
                    News</a>
            </div>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% for comment in comments %}
            <div class="media text-muted pt-3">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32"
                     class="mr-2 rounded" style="width: 32px; height: 32px;"
                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16e591eaf17%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16e591eaf17%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     data-holder-rendered="true">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{ comment.createdAt|date("m/d/Y g:ia") }}
                        <a href="{{ path_for('comments.remove', {id:comment.id,news_id:news.id}) }}">[remove]</a>
                    </strong>
                    {{ comment.body }}
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-8 order-md-1 pb-lg-4">
        <form method="post" action="{{ path_for('comments.post', {id:news.id}) }}">
            <div class="mb-12">
                <label for="body">Body</label>
                <textarea name="body" class="form-control" id="body" style="height: 200px; resize: none;"
                          required></textarea>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Post</button>
        </form>
    </div>
{% endblock %}